@charset "UTF-8";
/* CSS Document */
form{
	width:800px;
	}
input{
	margin-top:18px;
	width:382px;
	height:33px;
	}

textarea{
	width:774px;
	height:200px;
	margin:0 auto;
	margin-top:10px;
	}	

button{
	height:27px;
	width:778px;
	margin-top:10px;
	background-color:#2E3A3D;
	color:white;
	}	
		