@charset "UTF-8";
/* CSS Document */

#innerGallery
{
	width:960px;
	height:720px;
/*	background-color:black;
*/}
.thumb
{
	width:240px;
	height:240px;
	display:inline-block;
	padding: 0px 0px 0px 0px;
}
.shift
{
	margin-left:-5px;
}
.shiftUp
{
	margin-top:-3px;
}
		
.brighten img:hover {
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
       -o-transition: all .5s ease;
      -ms-transition: all .5s ease;
          transition: all .5s ease;
		    -webkit-filter: opacity(1);

}
 

.brighten img {	
  -webkit-filter: opacity(.7);
}*/
	