@charset "UTF-8";
/* CSS Document */

#innerGallery
{
	max-width:1300px;
	min-width:700px;
	width:100%;
	height:auto;
/*	background-color:black;
*/}
.thumb
{
	width:25%;
	display:inline-block;
	padding: 0px 0px 0px 0px;
}
.thumb img
{width:100%;}
.shift
{
	margin-left:-5px;
}
.shiftUp
{
	margin-top:-3px;
}
		
.brighten img:hover {
  -webkit-transition: all 0s ease;
     -moz-transition: all 0s ease;
       -o-transition: all 0s ease;
      -ms-transition: all 0s ease;
          transition: all 0s ease;
		    -webkit-filter: opacity(1);

}
 

.brighten img {	
  -webkit-filter: opacity(.7);
}*/
	